* {
  box-sizing: border-box;
}

:root {
  --main-purple: #471363;
  --main-dark-purple: #3c1053
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.border-box {
  border: 2px solid var(--main-dark-purple);
  border-radius: 3px;
  padding: 10px 0;
}
